$vsc-background: #1E1E1E;
$offwhite: #F5f5f5;
$cell-color: #D6DAC8;

// 
body {
    background-color: #D6A99D;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}


main {
    width: 90%;
    min-height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 10px;

    border-radius: 15px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    background-color: #FBF3D5;
    padding: 15px;

}


// 

.header {
    width: fit-content;
    padding: 5px;
    margin: 0;
}

.box-around {
    border-style: solid;
    border-width: 2px;
    /* border-color: white; */
}

hr.custom {
    width: 100%;
    border-style: dotted;
    border-bottom: none;
    border-width: 4px;

    border-left: 0;
    border-right: 0;

    border-color: darken($color: $cell-color, $amount: 25);
}

// cell styles

.cell {
    background-color: $cell-color;
    border-radius: 15px;
    padding: 5px;
    font-family: "Fira Code";
    font-size: 15px;
}

.output {
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    border-radius: 15px;
    border-style: solid;
    border-color: $vsc-background;
    border-width: 1px;
    margin: 2px;
}

.text-box {
    display: flex;
    flex-direction: column;

    p.text {
        display: flex;
        flex-direction: row;
        margin: 1px;
        align-items: center;
        gap: 1em;
    }


    &.bulleted {
        p.text::before {
            margin: 0;
            content: "*";
            padding-inline-end: 10px;
        }
    }
}

em {
    border-style: solid;
    width: fit-content;
    padding-inline: 4px;
    border-width: 2px;
    border-radius: 5px;
    background-color: rgba(255, 192, 0, 0.25);
    border-color: #8B8000;
}

// code style
pre[class*="language-"] {
    border-radius: 15px;
    background-color: $vsc-background;
    margin-inline: 5px;

    code[class*="language-"] {
        background-color: inherit;
        text-shadow: none;
        font-family: "Fira Code";

        white-space: pre-wrap;

        color: #CFCFCF;

        // highlights
        .token {
            &.operator {
                background-color: inherit;
            }

            &.comment {
                color: #7E8E6F;
            }

            &.keyword {
                color: #82A7C9;
            }

            &.number {
                color: #B3C6A1;
            }

            &.boolean {
                color: #CFCB9C;
            }
        }
    }
}


// ---------------------------------------------------------------------------------------



// custom image arrangements